<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR Generator</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
  </head>
  <body>
    <h1>QR Generator</h1>
    <form action="/" method="post">
      <input type="text" name="url" placeholder="Enter your url" />
      <br />
      <button type="submit" name="submit">Generate QR</button>
    </form>
    <h3>Your QR</h3>

    <img src="<%= "/" + qrSource %>" alt="Dynamic Image">
  </body>
</html>
